@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --psc-white: rgb(255, 255, 255);
  --psc-black: rgb(0, 0, 0);
  --psc-medium-gray: rgb(100,100,100);
  --psc-light-gray: rgb(241,241,241);
  --psc-dark-blue: rgb(37, 46, 95);

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--psc-white);

  --color-border: var(--psc-medium-gray);
  --color-border-hover: var(--psc-dark-blue);

  --color-heading: var(--psc-black);
  --color-text: var(--psc-black);

  --section-gap: 160px;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}